<div data-ng-class="tableClass" class="span9"><!-- table -->
  <span class="results">Results {{getResultSpan()}} of {{totalResults}}</span>
  <div class="btn-toolbar pull-right">
    <div class="btn-group">
##      <button class="btn first">&laquo; First</button>
      <button data-ng-click="previousPage()" class="btn">&lsaquo; Prev</button>
      <button data-ng-click="nextPage()" class="btn">Next &rsaquo;</button>
##      <button class="btn last">Last &raquo;</button>
    </div>
  </div>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th>Title</th>
        <th>Category</th>
        <th>Date</th>
        <th>Classification</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="row in rows">
        <td>
          <a target="_self" href="/classifications/{{row.CertificateNo[0]}}">
            {{row.Title}}
          </a>
        </td>
        <td>{{row.ApplicationGroupName}}</td>
        <td>{{row.CertificateDate.split("T")[0]}}</td>
        <td>{{row.Rating}}</td>
      </tr>
    </tbody>
  </table>
  <span class="results">Results {{getResultSpan()}} of {{totalResults}}</span>
  <div class="btn-toolbar pull-right">
    <div class="btn-group">
##      <button class="btn">&laquo; First</button>
      <button data-ng-click="previousPage()" class="btn">&lsaquo; Prev</button>
      <button data-ng-click="nextPage()" class="btn">Next &rsaquo;</button>
##      <button class="btn">Last &raquo;</button>
    </div>
  </div>
</div>
