<%inherit file="border.html"/>

## XXX: this should be done serverside
<script>document.getElementById("nav-classifications").setAttribute('class','active');</script>
<noscript>
  <strong>Unfortunately, this classification database requires JavaScript to
    function. Please enable JavaScript in your browser or use another
    browser.</strong>
</noscript>

<div data-ng-controller="ClassificationsCtrl">
  <header class="row">
    <div class="span4">
      <h1>Classifications</h1>
    </div>
    <div class="span8">
      <button class="btn" data-ng-click="toggleSidebar()">Show/Hide Menu</button>
    </div>
  </header>
  
  <div class="row">
    <%include file="classifications-sidebar.html"/>
    <%include file="classifications-table.html"/>
  </div>
</div>
