<div class="span9"><!-- table -->
  <span class="results">Results {{resultSpan}} of {{totalResults}}</span>
  <div class="btn-toolbar pull-right">
    <div class="btn-group">
      <a class="btn btn-primary" href="/classifications/search">New search</a>
    </div>
    <div class="btn-group">
      <button class="btn first">&laquo; First</button>
      <button class="btn prev">&lsaquo; Prev</button>
      <button class="btn next">Next &rsaquo;</button>
      <button class="btn last">Last &raquo;</button>
    </div>
  </div>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th>Title</th>
        <th>Category</th>
        <th>Date</th>
        <th>Classification</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="row in rows">
        <td>{{row.title}}</td>
        <td>{{row.category}}</td>
        <td>{{row.date}}</td>
        <td>{{row.classification}}</td>
      </tr>
    </tbody>
  </table>
  <span class="results">Results {{resultSpan}} of {{totalResults}}</span>
  <div class="btn-toolbar pull-right">
    <div class="btn-group">
      <button class="btn btn-primary">New search</button>
    </div>
    <div class="btn-group">
      <button class="btn">&laquo; First</button>
      <button class="btn">&lsaquo; Prev</button>
      <button class="btn">Next &rsaquo;</button>
      <button class="btn">Last &raquo;</button>
    </div>
  </div>
</div>
