<%inherit file="border.html"/>

<%block name='head'>
<style type="text/css">
  .dl-horizontal dt,
  th
  {
    text-align: left;
    padding-right: 1em;
  }

  .dl-horizontal dd {
		margin-left: 160px;
	}
</style>
</%block>

<div data-ng-controller="ClassificationCtrl">
  
<header class="row">
	<div class="span12">
    <h1>{{rows.Title}}</h1>
	</div>
</header>

<article class="row">
  <div class="span12">
    <table>
      <tbody>
        <tr data-ng-repeat="(k, v) in rows">
          <th>{{k}}</th>
          <td>{{v}}</td>
        </tr>
      </tbody>
    </table>
    <%doc>
    <!--
		<dl class="dl-horizontal">
			<dt>Classification</dt>
			<dd></dd>
			<dt>Consumer Advice</dt>
			<dd></dd>
			<dt>Category</dt>
			<dd></dd>
			<dt>Medium</dt>
			<dd></dd>
			<dt>Classification Number</dt>
			<dd></dd>
			<dt>Original URL</dt>
			<dd><a href="#">[link]</a></dd>
    </dl>
    -->
    </%doc>
	</div>
</article>

<%doc>
<!--
<section class="row">
	<div class="span12">
		<h2>PEGI Ratings</h2>
		<p>Some kind of table thing will go here.</p>
	</div>
</section>
<hr>
-->

<!--
<section class="row">
	<div class="span12">
		<h2>Related Classifications</h2>
		<table class="table table-striped table-bordered table-condensed">
			<thead>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</section>
-->
</%doc>

<button class="btn" data-ng-click="goBack()">&laquo; Back</button>
</div>
