<div class="span3" data-ng-show='sidebarVisible'>
  <div class="well" style="padding: 8px 0"><!-- sidebar -->
    <ul class="nav nav-list">
      <%doc>  
      <!--
      <li class="nav-header">
        Quick Picks
      </li>
      <%doc>
      <li class="active">
        <a href="/classifications/all">All</a>
      </li>
      <li>
        <a href="/classifications/recent">Recent</a>
      </li>
      <li>
        <a href="/classifications/rc">Refused Classification</a>
      </li>
      -->
      
      <!--
      <li id="saved-searches" class="nav-header">
        Saved Searches
      </li>
      <li>Coming eventually!</li>
      -->
      </%doc>
    
      <li id="search-criteria" class="nav-header">
        Search Criteria
      </li>
      <li data-ng-repeat="(k, v) in query">
        <a data-ng-show="v != '' && k != 'count' && k != 'page'"
          data-ng-click="removeCriterion(k)" title='{{k}}'>
          <i class="icon-remove"></i>
          {{v}}
        </a>
      </li>
      <li data-ng-hide="anyCriteria()">
        <a>
          <i class="icon-warning-sign"></i>
          Everything!
        </a>
      </li>
      <%doc>
      <!--
      <li>
        <a href="#">
          <i class="icon-remove"></i>
          criterion 1
        </a>
      </li>
      <li>
        <a href="#">
          <i class="icon-remove"></i>
          Criterion 2
        </a>
      </li>
      <li>
        <a href="#">
          <i class="icon-remove"></i>
          Criterion 3
        </a>
      </li>
      -->
      </%doc>
      <li class="divider"></li>
      <!--
      <li>
        <a href="#">
          <i class="icon-ok"></i>
          Save
        </a>
      </li>
      -->
      <li>
        <a target="_self" href="/search">
          <i class="icon-file"></i>
          New
        </a>
        <a target="_self" href="/classifications">
          <i class="icon-refresh"></i>
          Clear
        </a>
      </li>
    </ul>
  </div>
</div>
