<div class="span4">
  <h3>RSS Feeds</h3>
  <p>We offer multiple feeds for you to catch up on the censorship happenings in Australia. Take your pick of our daily, weekly and monthly feeds so that you may know exactly what <em>they</em> think we should or should not see, when you want to see it.</p>
</div>
<div class="span3">
  <h4>All Classifications</h4>
  <div class="btn-group">
    <a class="btn" href="/feed/all/daily">Daily</a>
    <a class="btn" href="/feed/all/weekly">Weekly</a>
    <a class="btn" href="/feed/all/monthly">Monthly</a>
  </div>
  <br>
  <h4>RC Classifications</h4>
  <div class="btn-group">
    <a class="btn" href="/feed/rc/daily">Daily</a>
    <a class="btn" href="/feed/rc/weekly">Weekly</a>
    <a class="btn" href="/feed/rc/monthly">Monthly</a>
  </div>
</div>
